body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  font-size: 24px;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  gap: 0;
  position: absolute;
  top: 20px;
  right: 100px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.container {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid blue;
  padding:20px;
}

.container > .box {
  flex: 0 0 30%;
  width: 30%;
  height: 30%;
  border: 2px solid black;
  margin: 0;
}

.box > p {
  margin: 12% 20%;
  padding:5px;
  border: 2px solid green;

}

.red {
  background: red;
}

.pink {
  background-color:hotpink;
}

.orange{
  background-color: orange;
}